<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shower Presentation Engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/shower-ribbon/styles/styles.css">
    <style>
        .shower {
            --slide-ratio: calc(16 / 9);
        }

        .slide pre code.no-num:before {
            content: '-';
        }
    </style>
</head>
<body class="shower list">

    <header class="caption">
        <h1>Nuxt.js - Vue with server side rendering</h1>
        <p>Mikhail Starikov</p>
    </header>

    <section class="slide" id="cover">
        <h2>Nuxt.js - Vue meets SSR</h2>
        <p>Brought to you by <a href="https://starikovm.github.io">Mikhail Starikov</a></p>
        <style>
            #cover {
                background-image: url("pictures/dark_mountains.jpg");
                background-size: cover;
            }
            #cover h2 {
                margin: 120px 0 0;
                color: white;
                text-align: center;
                font-size: 70px;
            }

            #cover p {
                margin: 10px 0 0;
                text-align: center;
                color: white;
                font-style: italic;
                font-size: 20px;
            }

            #cover p a {
                color: white;
            }
        </style>
    </section>

    <section class="slide">
        <h2>Steps</h2>
        <ol>
            <li><a href="#3">What is Vue.js</a></li>
            <li><a href="#5">Vue.js syntax and basics</a></li>
            <li><a href="#20">Store for Vue - Vuex</a></li>
            <li><a href="#22">Vue vs. Melody</a></li>
            <li><a href="#nuxt-features">Nuxt and Vue - what's the difference</a></li>
            <li><a href="#27">Creating nuxt app</a></li>
            <li><a href="#28">Test application with 7 TODO's</a></li>
        </ol>
    </section>

    <section class="slide">
        <h2>Vue.js</h2>
        <ol>
            <li><i>Approachable</i> framework with smooth learning curve</li>
            <li class="next">MVVM (model - view - view model)</li>
            <li class="next">Versatile - applicable for hobby project and for enterprise solution</li>
            <li class="next">Performant - 20KB min+gzip, virtual DOM</li>
        </ol>
    </section>

    <section class="slide">
        <div class="columns two">
            <h2>Vue.js application</h2>
        </div>
        <ul>
            <li><code>yarn global add create-vue-app</code></li>
            <li><code>create-vue-app my-vue-app</code></li>
        </ul>
        <p class="note"><a href="https://www.npmjs.com/package/create-vue-app">create-vue-app npm package</a></p>
    </section>

    <section class="slide">
        <div class="columns two">
            <h2>Vue.js component</h2>
            <p><code>src/index.js</code></p>
        </div>
        <pre>
            <code class="mark">import Vue from 'vue'</code>
            <code class="mark">import App from './components/App.vue'</code>
            <code>new Vue({</code>
            <code>  el: '#app',</code>
            <code class="mark">  render: h => h(App)</code>
            <code>});</code>
        </pre>
    </section>

    <section class="slide">
        <div class="columns two">
            <h2>Vue.js component</h2>
            <p><code>src/components/App.vue</code></p>
        </div>
        <pre>
            <code class="mark">&lt;template&gt;</code>
            <code>    {{ message }}</code>
            <code>  &lt;/div&gt;</code>
            <code class="mark">&lt;script&gt;</code>
            <code>  export { name: 'app' }</code>
            <code class="mark">&lt;style&gt;</code>
            <code>  #app { text-align: center; }</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Template syntax</h2>
        <pre>
            <code class="no-num">&lt;p <mark class="comment">v-if="var"</mark>&gt;Hide or show&lt;/p&gt;</code>
            <code class="no-num"><mark class="comment">&lt;template v-if="var"&gt;</mark>&lt;p&gt;Hide or show UI block&lt;/p&gt;<mark class="comment">&lt;/template&gt;</mark></code>
            <code class="no-num">&lt;li <mark class="comment">v-for="(ssg, index) in ssgs"</mark>&gt;UI in loop&lt;/li&gt;</code>
            <code class="no-num"><mark class="comment">&lt;template v-for="(ssg, index) in ssgs"&gt;</mark></code>
            <code class="no-num">    &lt;li&gt;block&lt;/li&gt;<mark class="comment">&lt;/template&gt;</mark></code>
            <code class="no-num">&lt;button <mark class="comment">@click="clickHandler"</mark>&gt;On Click&lt;/button&gt;</code>
            <code class="no-num">&lt;input <mark class="comment">@change="inputHandler"</mark>&gt;On Change&lt;/input&gt;</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Data</h2>
        <pre>
            <code>&lt;h1&gt;{{ titleMessage }}&lt;/h1&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code>  data: () => ({</code>
            <code>    titleMessage: 'Hello dude',</code>
            <code>  }),</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Data</h2>
        <pre>
            <code class="mark">&lt;h1&gt;{{ titleMessage }}&lt;/h1&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code>  data: () => ({</code>
            <code>    titleMessage: 'Hello dude',</code>
            <code>  }),</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Data</h2>
        <pre>
            <code>&lt;h1&gt;{{ titleMessage }}&lt;/h1&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code class="mark">  data: () => ({</code>
            <code>    titleMessage: 'Hello dude',</code>
            <code>  }),</code>
        </pre>
    </section>
    </section>

    <section class="slide">
        <h2>Component syntax - Data</h2>
        <pre>
            <code>&lt;h1&gt;{{ titleMessage }}&lt;/h1&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code>  data: () => ({</code>
            <code class="mark">    titleMessage: 'Hello dude',</code>
            <code>  }),</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Methods</h2>
        <pre>
            <code>&lt;button @click="click"&gt;click me&lt;/button&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  methods: {</code>
            <code>    click() { ... }</code>
            <code>  },</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Methods</h2>
        <pre>
            <code class="mark">&lt;button @click="click"&gt;click me&lt;/button&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  methods: {</code>
            <code>    click() { ... }</code>
            <code>  },</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Methods</h2>
        <pre>
            <code>&lt;button @click="click"&gt;click me&lt;/button&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  methods: {</code>
            <code class="mark">    click() { ... }</code>
            <code>  },</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Computed</h2>
        <pre>
            <code class="mark">&lt;p&gt;{{ fullName }}&lt;p&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code>  data: () => ({ lastName: '', firstName: '' })</code>
            <code>  computed: {</code>
            <code>    fullName: function() {</code>
            <code>      return `${this.lastName} ${this.firstName}` }</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Computed</h2>
        <pre>
            <code>&lt;p&gt;{{ fullName }}&lt;p&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code class="mark">  data: () => ({ lastName: '', firstName: '' })</code>
            <code>  computed: {</code>
            <code>    fullName: function() {</code>
            <code>      return `${this.lastName} ${this.firstName}` }</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Component syntax - Computed</h2>
        <pre>
            <code>&lt;p&gt;{{ fullName }}&lt;/p&gt;</code>
            <code>...</code>
            <code>export default {</code>
            <code>  name: 'app',</code>
            <code>  data: () => ({ lastName: '', firstName: '' })</code>
            <code>  computed: {</code>
            <code class="mark">    fullName: function() {</code>
            <code class="mark">      return `${this.lastName} ${this.firstName}` }</code>
        </pre>
    </section>

    <section class="slide">
        <h2>Build your component</h2>
        <ol>
            <li>Run <code>yarn dev</code></li>
            <li>Add button and two <code>&lt;p&gt;</code> to template</li>
            <li>Add <code>data</code> property to the component to store boolean</li>
            <li>Add <code>methods</code> property and create method for click</li>
            <li>Append <code>@click</code> to button and assign click method that will show first <code>&lt;p&gt;</code> on click</li>
            <li>Add <code>computed</code> property that will change second text upon first <code>&lt;p&gt;</code> text is shown</li>
        </ol>
    </section>

    <section class="slide">
        <h2>What we might need else for a solid app?</h2>
        <div class="columns two">
            <ul>
                <li class="next">Store</li>
                <li class="next">Routing</li>
                <li class="next">Multi-language</li>
            </ul>
            <ul>
                <li class="next">=> <code>yarn add vuex</code></li>
                <li class="next">=> <code>yarn add vue-route</code></li>
                <li class="next">=> <code>yarn add vue-i18n</code></li>
            </ul>
        </div>
    </section>

    <section class="slide">
        <h2>Store for Vue - Vuex</h2>
        <p>State management pattern, based on Flux (Redux)</p>
        <p class="note"><a target="_blank" href="https://github.com/vuejs/vuex/blob/dev/examples/counter/">Vuex Counter example</a></p>
    </section>

    <section class="slide">
        <h2>Let's compare to our lovely melody</h2>
        <div class="framework-vs">
            <a class="vs-logo-image" href="https://github.com/starikovm/nuxt_workshop_vue_app">
                <img src="pictures/vue.png" alt="Vue.js logo">
            </a>
            <span>VS</span>
            <a class="vs-logo-image" href="https://github.com/starikovm/nuxt_workshop_melody_app">
                <img src="pictures/melody.svg" alt="Melody.js logo">
            </a>
        </div>
        <style>
            .framework-vs {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .vs-logo-image > img {
                max-width: 200px;
            }
        </style>
    </section>

    <section class="slide">
        <h2><b>BIASED</b> comparison</h2>
        <table>
            <tr>
                <th scope="col">Framework</th>
                <td>Vue.js</td>
                <td>Melody</td>
            </tr>
            <tr class="next">
                <th scope="row">Readability</th>
                <td>🌟🌟🌟</td>
                <td>🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">Variety</th>
                <td>🌟</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">RX.js</th>
                <td>🌟</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">Plug'n'play</th>
                <td>🌟🌟🌟🌟🌟</td>
                <td>🌟🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">JS Unit testing</th>
                <td>🌟🌟</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">Performance</th>
                <td>🌟🌟🌟</td>
                <td>🌟🌟🌟</td>
            </tr>
        </table>
    </section>

    <section class="slide">
        <h2><b>BIASED</b> comparison</h2>
        <table>
            <tr>
                <th scope="col">Framework</th>
                <td>Vue.js</td>
                <td>Melody</td>
                <td>Nuxt 🦄</td>
            </tr>
            <tr>
                <th scope="row">...</th>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr class="next">
                <th scope="row">Server Side rendering</th>
                <td>🚫</td>
                <td>🚫</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">Routing OOB</th>
                <td>🚫</td>
                <td>🚫</td>
                <td>🌟🌟🌟</td>
            </tr>
            <tr class="next">
                <th scope="row">Configuration for SEO attrs</th>
                <td>🚫</td>
                <td>🚫</td>
                <td>🌟🌟🌟</td>
            </tr>
        </table>
    </section>

    <section class="slide" id="picture">
        <h2>Vue.js got steroids</h2>
        <figure>
            <img class="cover" src="pictures/nuxt.png" alt="nuxt js logo">
        </figure>
        <style>
            #picture h2 {
                color: black;
            }
        </style>
    </section>

    <section class="slide" id="nuxt-features">
        <h2>So what is that?</h2>
        <p>Nuxt.js includes the following to create a rich web application development:</p>
        <ul>
            <li><code>Vue 2</code></li>
            <li><code>Vue Router</code></li>
            <li><code>Vuex</code> (included only when using the store option)</li>
            <li><code>Vue Server Renderer</code> (excluded when using mode: 'spa')</li>
            <li><code>vue-meta</code></li>
        </ul>
        <p>A total of only 57kB min+gzip (60kB with Vuex). Under the hood there are <code>webpack</code> with <code>vue-loader</code> and <code>babel-loader</code> to bundle, code-split and minify your code.</p>
        <style>
            #nuxt-features ul {
                font-size: 18px;
                margin-bottom: 0.2em;
            }

            #nuxt-features p {
                margin-bottom: 0.2em;
                font-size: 20px;
            }
        </style>
    </section>

    <section class="slide">
        <h2>Nuxt.js application</h2>
        <ul>
            <li><code>yarn global add create-nuxt-app</code></li>
            <li><code>create-nuxt-app nuxt-app</code></li>
        </ul>
        <p class="note"><a href="https://www.npmjs.com/package/create-nuxt-app">create-nuxt-app npm package</a></p>
    </section>

    <section class="slide">
        <h2>Project options</h2>
        <ul>
            <li class="next">Name, Description</li>
            <li class="next">Choose server framework (also works with <code>Express</code>, <code>Micro</code>, etc.)</li>
            <li class="next">Choose UI framework (<code>Bootstrap</code>, <code>Element UI</code>, <code>Vuetify</code>etc.)</li>
            <li class="next">Choose rendering mode - <code>spa</code> to disable SSR, <code>universal</code> to enable</li>
            <li class="next">Need <code>axios</code>? (Fetch library, that works both on node server and on frontend)</li>
            <li class="next"><code>eslint</code> and <code>prettier</code></li>
        </ul>
    </section>

    <section class="slide">
        <h2>TIME TO WORK</h2>
        <ul>
            <li><a href="https://github.com/starikovm/nuxt_workshop_nuxt_app">nuxt test app repo</a></li>
            <li><a href="https://vuejs.org/v2/guide/syntax.html">Vue template syntax</a></li>
            <li><a href="https://vuejs.org/v2/guide/computed.html">Vue component computed and methods</a></li>
            <li><a href="https://vuex.vuejs.org/guide/state.html">Vuex docs</a></li>
            <li><a href="https://nuxtjs.org/api/pages-fetch#the-fetch-method">fetch method</a></li>
        </ul>
    </section>

    <section class="slide" id="thanks">
        <img src="pictures/thanks.gif" class="thanks-img">
        <style>
            .thanks-img {
                object-fit: cover;
                height: 100%;
            }
            #thanks {
                padding: 0;
                display: flex;
                justify-content: center;
                background-color: black;
            }
            #thanks::after {
                content: '';
                opacity: 0;
            }
        </style>
    </section>

    <div class="progress"></div>

    <script src="node_modules/shower-core/shower.min.js"></script>
    <!-- Copyright © 2018 Yours Truly, Famous Inc. -->

</body>
</html>
